/* stylelint-disable */
/* Here you apply all kinds of styling to your app UIs */
html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
}

header {
  text-align: center;
  
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  
}

.section {
  display: flex;
  flex-direction: column;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.section.section--active {
  visibility: visible;
  max-height: none;
  opacity: 1;
}

.section h1 {
  margin-top: 24px;
  text-align: center;
  font-size: 3vw;
}

.contact-section {
  max-width: 600px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 2%;
  border-radius:10px ;
  border: 5px solid rgb(3, 219, 100);
  box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -webkit-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
}

.books-list {
  border: 5px solid rgb(3, 219, 100);
  border-radius:10px ;
  transition: opacity ease-in-out 1s;
  box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -webkit-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
}

.bookLabel {
  padding-left: 12px;
}

.bookLabel:nth-child(2n + 1) {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.newBook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-creator {
  width: 500px;
  padding: 2%;
  border-radius:10px ;
  border: 5px solid rgb(3, 219, 100);
  box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -webkit-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  background-color: black;
  color: #fff;

}

form h2 {
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
  margin: 8px 0;
  height: 30px;
  box-sizing: border-box;
}

.btn {
  width: 120px;
  margin-left: 100%;
  transform: translateX(-100%);
  padding: 5px 20px;
  box-sizing: border-box;
  margin-top: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius:10px ;
  border: 2px solid rgb(3, 219, 100);
}
.btn:hover{
  background-color: red;
  color: #fff;
}
#message , #removemsg{
  font-size: 1.1vw;
  font-weight: 700;
  color: green;
  transition: 1s;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border: 1px solid gray;
  height: 40px;
  padding: 2%;
  border-radius:10px ;
  border: 5px solid rgb(3, 219, 100);
  box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -webkit-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
}

.head ul {
  list-style: none;
  display: flex;
  font-weight: 600;
}

.head li {
  display: flex;
  align-items: center;
}

.head li:not(:last-child)::after {
  content: "";
  display: block;
  min-width: 2px;
  height: 24px;
  margin: 0 18px;
  border-radius: 1px;
  background-color: rgb(43, 100, 243);
}

.head a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.head h2 {
  padding-left: 40px;
}

.link.link--active {
  color: rgb(43, 100, 243);
}

.time {
  text-align: right;
  margin: 4px 0;
  font-size: 1.5vw;
  font-weight: 700;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.footer .footer__content {
  padding: 12px 24px;
  font-size: 23px;
  padding: 2%;
  background-color: black;
  color: #fff;
  border-radius:10px ;
  border: 5px solid rgb(3, 219, 100);
  box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -webkit-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: -1px 2px 23px -3px rgba(0,0,0,0.38);
}
